/* Copyright 2025 The Perplexity Browser Authors. All rights reserved. */

@import '//resources/perplexity/css/global.css';

body,
html {
  touch-action: none;
  overflow: hidden;

  -webkit-font-smoothing: antialiased;

  font-family: 'FK Grotesk Neue', system-ui, sans-serif;

  background: var(--perplexity-onboarding-background);
}

:root {
  --perplexity-onboarding-gradient-color: #FBFAF4;
  --perplexity-onboarding-background: #000;

  --screen-width: 992px;
  --screen-height: 698px;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;

  font-size: 14px;
}

p {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --perplexity-onboarding-gradient-color: #000;
  }
}
